<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/testingp" method="post" enctype="multipart/form-data">
       <input type="email" name="email" placeholder="Email" required>
       <input type="text" name="rss" placeholder="RSS" required>
        <button type="submit" >Post</button>
    </form>

</body>
</html>
